@charset "utf-8";
@import "~bulma/sass/utilities/_all";

// Set your colors
$primary: #8c67ef;
$primary: #a23361;
$primary: #ffffff;
$primary-invert: findColorInvert($primary);
$twitter: #4099ff;
$twitter-invert: findColorInvert($twitter);
$chula: #bb4eb6;
$chula-invert: findColorInvert($chula);

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
  "white": (
    $white,
    $black
  ),
  "black": (
    $black,
    $white
  ),
  "light": (
    $light,
    $light-invert
  ),
  "dark": (
    $dark,
    $dark-invert
  ),
  "primary": (
    $primary,
    $primary-invert
  ),
  "info": (
    $info,
    $info-invert
  ),
  "success": (
    $success,
    $success-invert
  ),
  "warning": (
    $warning,
    $warning-invert
  ),
  "danger": (
    $danger,
    $danger-invert
  ),
  "twitter": (
    $twitter,
    $twitter-invert
  ),
  "chula": (
    $chula,
    $chula-invert
  )
);

$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

$navbar-item-hover-color: $chula;

@import "~bulma";
@import "~buefy/src/scss/buefy";

.section {
  background-color: white;
}

@import "./transition";
